/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.base-coupone-pro-modal {
  display: none;
  text-align: left;
}
.base-coupone-pro-modal.is-open {
  display: block;
}
.bt-coupon-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
.bt-modal-container {
  background-color: var(--global-palette9, #ffffff);
  padding: 30px;
  max-width: 500px;
  width: 100%;
  display: flex;
  margin: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100vh;
  border-radius: 0;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  border: 0 solid transparent;
}
.bt-modal-height-full {
  height: 100%;
  margin: 0px;
}
.bt-modal-content {
  width: 100%;
  max-height: 100%;
}
.bt-coupon-modal-close {
  background: var(--global-palette9);
  border: 0;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--global-palette4, #444444);
  -webkit-appearance: none;
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,.17);
  text-shadow: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.bt-coupon-modal-close:hover {
  outline: none;
  box-shadow: none;
}
.bt-coupon-modal-close:focus {
  outline: none;
  box-shadow: none;
}
.bt-coupon-modal-close svg {
  width: 24px;
  height: 24px;
  pointer-events: none;
}
.bt-modal-linkalign-left {
  text-align: left !important;
}
.bt-modal-linkalign-center {
  text-align: center !important;
}
.bt-modal-linkalign-right {
  text-align: right !important;
}
.coupon-modal-link {
  cursor: pointer;
}
.bt_checkout_coupon.woocommerce-form-coupon {
  text-align: center;
}
.bt_checkout_coupon.woocommerce-form-coupon .form-row,
.bt_checkout_coupon.woocommerce-form-coupon .button {
  width: 100%;
}
.bt_checkout_coupon.woocommerce-form-coupon .form-row.form-row-last {
  margin-bottom: 0;
}
@media (max-width: 479px) {
  .bt-modal-container {
    padding: 40px 20px;
  }
}
/**************************\
Animation Style
\**************************/
@keyframes kbmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes kbmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.base-coupone-pro-modal[aria-hidden="false"] .bt-coupon-modal-overlay {
  animation: kbmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.base-coupone-pro-modal[aria-hidden="true"] .bt-coupon-modal-overlay {
  animation: kbmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.bt-m-animate-in-fade[aria-hidden="false"] .bt-modal-container {
  animation: kbmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
@keyframes kbmfadeInUp {
  from {
    opacity: 0;
    transform: translateY(15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.bt-m-animate-in-fadeup[aria-hidden="false"] .bt-modal-container {
  animation: kbmfadeInUp 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.bt-m-animate-out-fadeout[aria-hidden="true"] .bt-modal-container {
  animation: kbmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.base-coupone-pro-modal .bt-modal-container,
.base-coupone-pro-modal .bt-coupon-modal-overlay {
  will-change: transform;
}
